/*DEFI8NICIÓN DE VARIABLES*/
:root {
    --color-principal: #ffffff;
    --color-secundario: #04B4E0;

    --color-background: #F2F7F9;
    --color-transparent: transparent;

    --color-icon: #B5B6B7;
    --color-subtitle: #9E9E9E;
    --color-title: #222222;
    --color-text: #555;

    --color-border-reviews: #E5E6E7;
    --color-company: #A5A6A7;

    --color-background-certificate: #F5F5F5;
    --color-background-contact: #FCFCFC;
}

/*ESTILOS GENERALES*/
html {
    font-size: 10px;

}

body {
    width: 100%;
    height: 100%;
    background-color: var(--color-principal);
    font-family: "Poppins", helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--color-text);
    overflow: hidden;
    /*HACE QUE NO HAYA BARRA DE SCROOL*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-title);

}

/* IMAGEN DE FONDO */
body {
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -38px -95px;
}

/*ESTRUCTURA PRINCIPAL*/
.layout {
    position: relative;
    min-width: 129rem;
    width: 80%;
    min-height: 80vh;
    height: 80vh;
    margin: 10vh auto;
    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;
    /*overflow: hidden; HACE QUE LA INFORMACIÓN NO SE DESBORDE DEL DIV, Y SIMPLEMENTE SE OCULTE*/

    /*SOMBRA DETRAS DEL LAYOUT*/
    border-radius: 4rem;
    box-shadow: 0 0 100px rgb(0, 0, 0, 0.25);


}