:root {
    --color-principal: #F8F2F4;
    --color-secundario: #0F0736;
    --color-terciario: #140948;


    --color-background: #ffff;
    --color-transparent: transparent;

    --color-icon: #B5B6B7;
    --color-subtitle: #9E9E9E;
    --color-title: #222222;
    --color-text: #555;

    --color-border-reviews: #E5E6E7;
    --color-company: #A5A6A7;

    --color-background-certificate: #F5F5F5;
    --color-background-contact: #FCFCFC;
}

html {
    font-size: 10px;

}

body {
    width: 100%;
    height: 100%;
    max-height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: auto;
    font-size: 1.5rem;
    color: var(--color-text);
}


.layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
}

/*BARRA LATERAL*/
.layout__left {
    flex-basis: 15%;
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
    max-height: 100%;

}

.left__title {
    flex-basis: 11rem;
    text-align: center;
    align-content: center;
}

.title_menu {
    font-size: 4rem;
    color: var(--color-principal);
}

.left__container {
    flex-basis: calc(100% - 11rem);
}

.left__search-bar,
.inputs__search-bar {
    flex: 2rem;
    font-size: 1.2rem;
    padding: 2rem;
    color: var(--color-principal);
}

/*DROPDOWN*/
.dropdown__list {
    list-style: none;
}

.dropdown__link {
    color: var(--color-principal);
    padding: 1em .7em;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown__list:has( :checked) {
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #140948;
}

.dropdown__icon {
    font-size: 3rem;
}

.dropdown__span {
    margin-left: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.dropdown__check {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow {
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: .2s transform;
}

.dropdown__content {
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.dropdown__sub {
    overflow: hidden;

}

.dropdown__li {
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.dropdown__anchor {
    padding: 0.5em 0;
    display: block;
    color: var(--color-principal);
    text-decoration: none;
}

/**/

/*PIE DE PAGINA*/
.footer {
    position: absolute;
    bottom: 0.2rem;
    height: 2.5rem;
    width: 15%;
    border: 0.1rem solid var(--color-terciario);
}

.footer__info {
    position: relative;
}

.info__text {
    background-color: var(--color-principal);
    text-align: center;
}

/*CONTENIDO DE LA DERECHA*/
.layout__right {
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
}

.layout__header {
    background-color: var(--color-principal);
    color: var(--color-title);
    padding: 10px;
    text-align: center;
    flex-basis: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 100px rgb(0, 0, 0, 0.25);
}

.header__name {
    flex-basis: 80%;
}

.header__title {
    font-size: 3.5rem;
}

.header__content {
    flex-basis: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__container-img {
    width: 4rem;
    padding-top: 0.5rem;
}

.log-out__icon {
    padding-top: 0.5rem;
    color: var(--color-secundario);
    font-size: 3rem;
    transition: all 300ms ease-in-out;
}

.user__img {
    border-radius: 1rem;
    width: fit-content;
}

.log-out__name,
.user__name {
    color: var(--color-title);
    font-size: 1.5rem;
}

.layout__content {
    flex-basis: calc(100% - 8rem);
    margin-top: 0.5rem;
    padding: 5rem 2rem 2rem 2rem;
    background-color: var(--color-background);
}

.content__info {
    position: absolute;
    top: 10rem;
    right: 5rem;
}

.center-content {
    border: 2px solid var(--color-secundario);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content__inputs {
    margin: 0rem 4rem;
    flex-basis: 20%;
    border-bottom: 2px solid var(--color-secundario);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputs__group {
    width: 42rem;
    position: relative;
    margin-left: 2rem;
}

.inputs__input {
    position: relative;
    width: 100%;
    height: 4.2rem;
    display: block;
    padding: 1rem 1.2rem;
    border: 0.2rem solid var(--color-border-reviews);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    outline: none;
    box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, .1);
    background-color: var(--color-principal);
    line-height: 2.1rem;
}

/*EFECTO DEL LOS INPUTS*/
.inputs__input:focus {
    border: 0.2rem solid var(--color-secundario);
}

.inputs__label {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    z-index: 1;
    color: var(--color-company);
    transition: all 300ms ease-in-out;
    pointer-events: none;
}

.inputs__input:focus~label,
.inputs__input:not(:placeholder-shown)~label {
    top: -2rem;
    left: 0;
    z-index: 1;
    font-size: 1.3rem;
    color: var(--color-secundario);
}

.inputs__input::-webkit-input-placeholder {
    color: transparent;
}

.inputs__input::-moz-placeholder {
    color: transparent;
}

.search__button {
    position: absolute;
    left: 75rem;
    width: 4.1rem;
    height: 4.1rem;
    padding: 1.2rem;
    border: var(--color-transparent);
    font-size: 1.5rem;
    background-color: var(--color-transparent);
    cursor: pointer;
}

.inputs__buttom {
    margin-left: 2rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border: 0.2rem solid var(--color-border-reviews);
    border-radius: 0.5rem;
    color: var(--color-title);
    background-color: var(--color-principal);
    box-shadow: 0 1rem 1rem -0.8rem rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.inputs__buttom:hover {
    border: 0.2rem solid var(--color-secundario);
}

.content__data {
    margin: 3rem 4rem;
    flex-basis: 80%;
    height: 100%;
}

/*TABLAS*/
.products__table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
    /* Color de fondo de las filas impares */
}

.products__table {
    border-collapse: collapse;
    width: 100%;

}

.table__th {
    background-color: var(--color-secundario);
    border: 0px 1px solid var(--color-secundario);
    color: var(--color-principal);
    font-size: 2.1rem;
}

.table__td {
    font-size: 2rem;
    color: var(--color-title);
}

.td__data {
    border: 0px 1px solid var(--color-secundario);
    padding: 0.5rem;
}

.delete__icon {
    cursor: pointer;
}

/*TABLA DE PRODUCTOS*/
.products-id {
    width: 10%;
    text-align: center;
    padding: 0;
}

.products-name {
    width: 25%;
}

.products-type {
    width: 15%;
}

.products-sale,
.products-unit {
    width: 15%;
    text-align: right;
}

.products-stock {
    width: 10%;
    text-align: right;
}

.products-buttoms {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}


/*TABLA DE clientes*/
.clients-id {
    width: 10%;
    text-align: center;
    padding: 0;
}

.clients-name {
    width: 20%;
}

.clients-lastname {
    width: 20%;
}

.clients-phone,
.clients-city {
    width: 15%;
    text-align: center;
}

.clients-date {
    width: 10%;
    text-align: center;
}

.clients-buttoms {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

/*TABLA DE PROVEEDORES*/
.supplier-id {
    width: 10%;
    text-align: center;
    padding: 0;
}

.supplier-name {
    width: 25%;
}

.supplier-phone,
.supplier-city {
    width: 15%;
    text-align: center;
}

.supplier-email {
    width: 25%;
}

.supplier-buttoms {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

/*FORMS*/
.form__group {
    width: 42rem;
    position: relative;
}

.form__input {
    position: relative;
    width: 30rem;
    height: 4.2rem;
    display: block;
    padding: 1rem 1.2rem;
    border: 0.2rem solid var(--color-border-reviews);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    outline: none;
    box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, .1);
    background-color: var(--color-principal);
    line-height: 2.1rem;
}

/*EFECTO DEL FORMULARIO*/
.alert-danger {
    color: red;
}

.alert-success {
    color: green;
}

.form__input:focus {
    border: 0.2rem solid var(--color-terciario);
}

.form__label {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    z-index: 1;
    color: var(--color-company);
    transition: all 300ms ease-in-out;
    pointer-events: none;
    /*Esto hace que el label no interfiera al dar click en el input*/
}

.form__input:focus~label,
/*El simbolo ~ permite que se afecte el estilo del elemento siguiente al ejecer un efecto sobre otro element*/
.form__input:not(:placeholder-shown)~label {
    /*Esto hace que si el placeholder NO se muestra, es decir, si el campo ya se llenó, entonces que el label siga arriba y no vuelva a su posicion inicial*/
    top: -2rem;
    left: 0;
    z-index: 1;
    font-size: 1.3rem;
    color: var(--color-terciario);
}

.form__input::-webkit-input-placeholder {
    color: transparent;
}

.form__input::-moz-placeholder {
    color: transparent;
}

.form__buttom {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border: 0.2rem solid var(--color-terciario);
    color: var(--color-title);
    background-color: var(--color-principal);
    border-radius: 3rem;
    box-shadow: 0 1rem 1rem -0.8rem rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form__buttom:hover {
    background-color: var(--color-terciario);
    color: var(--color-principal);
}

.return__icon {
    font-size: 5rem;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

input[type="number"] {
    min-width: 50px;
}
